In [1]:
# Dependencies
import pandas as pd
from glob import glob

In [2]:
# use glob() to list all files that match a pattern 
obesity_files = sorted(glob('Resources/*-Obesity.csv'))
obesity_files

['Resources\\2011-Obesity.csv',
 'Resources\\2012-Obesity.csv',
 'Resources\\2013-Obesity.csv',
 'Resources\\2014-Obesity.csv',
 'Resources\\2015-Obesity.csv',
 'Resources\\2016-Obesity.csv']

In [5]:
# Concat all files  by using pd.concat() and asssign() methods
obesity_2011_to_2016 = pd.concat((pd.read_csv(file).assign(filename = file)
          for file in obesity_files), ignore_index = True)
obesity_2011_to_2016.head()

,ID,YearStart,YearEnd,Description,LocationAbbr,LocationDesc,DataSource,Class,Topic,Question,...,StratificationCategory3,StratificationCategoryId3,Stratification3,StratificationId3,LocationDisplayOrder,FootnoteSymbol,FootnoteText,URL,FootnoteHeading,filename
0,671,2011,2011,2011,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Resources\2011-Obesity.csv
1,2279,2011,2011,2011,AL,Alabama,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Resources\2011-Obesity.csv
2,21294,2011,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,Resources\2011-Obesity.csv
3,24644,2011,2011,2011,AZ,Arizona,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,Resources\2011-Obesity.csv
4,13264,2011,2011,2011,AR,Arkansas,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,Resources\2011-Obesity.csv

In [6]:
# Show specific columns used
New_Df = obesity_2011_to_2016[['ID', 'YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'Data_Value', 'GeoLocation_Lat', 
                'GeoLocation_Long',  ]]
New_Df.head()

,ID,YearStart,LocationAbbr,LocationDesc,Question,Data_Value,GeoLocation_Lat,GeoLocation_Long
0,671,2011,US,National,Percent of adults aged 18 years and older who ...,27.4,NaN,NaN
1,2279,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.0,32.840571,-86.631861
2,21294,2011,AK,Alaska,Percent of adults aged 18 years and older who ...,27.4,64.845080,-147.722059
3,24644,2011,AZ,Arizona,Percent of adults aged 18 years and older who ...,25.1,34.865970,-111.763811
4,13264,2011,AR,Arkansas,Percent of adults aged 18 years and older who ...,30.9,34.748650,-92.274491

In [7]:
New_Df.dtypes

ID                    int64
YearStart             int64
LocationAbbr         object
LocationDesc         object
Question             object
Data_Value          float64
GeoLocation_Lat     float64
GeoLocation_Long    float64
dtype: object

In [9]:
# Export file as a CSV, without the pandas index, but with the header
New_Df.to_csv('Output/Obesity2011_2016.csv', index=False, header=True)