In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
obesity2011 = "Resources/2011-Obesity.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
obesity2011_df = pd.read_csv(obesity2011, encoding="ISO-8859-1")

In [4]:
# Show just the header
obesity2011_df.head()

,ID,YearStart,YearEnd,Description,LocationAbbr,LocationDesc,DataSource,Class,Topic,Question,...,StratificationId2,StratificationCategory3,StratificationCategoryId3,Stratification3,StratificationId3,LocationDisplayOrder,FootnoteSymbol,FootnoteText,URL,FootnoteHeading
0,671.0,2011.0,2011.0,2011.0,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,2279.0,2011.0,2011.0,2011.0,AL,Alabama,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,21294.0,2011.0,2011.0,2011.0,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,24644.0,2011.0,2011.0,2011.0,AZ,Arizona,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
4,13264.0,2011.0,2011.0,2011.0,AR,Arkansas,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN

In [11]:
# Show mulitple specific columns
New_Df = obesity2011_df[['ID', 'YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'Data_Value', 'GeoLocation_Lat', 
                'GeoLocation_Long',  ]]
New_Df.head()

,ID,YearStart,LocationAbbr,LocationDesc,Question,Data_Value,GeoLocation_Lat,GeoLocation_Long
0,671.0,2011.0,US,National,Percent of adults aged 18 years and older who ...,27.4,NaN,NaN
1,2279.0,2011.0,AL,Alabama,Percent of adults aged 18 years and older who ...,32.0,32.840571,-86.631861
2,21294.0,2011.0,AK,Alaska,Percent of adults aged 18 years and older who ...,27.4,64.845080,-147.722059
3,24644.0,2011.0,AZ,Arizona,Percent of adults aged 18 years and older who ...,25.1,34.865970,-111.763811
4,13264.0,2011.0,AR,Arkansas,Percent of adults aged 18 years and older who ...,30.9,34.748650,-92.274491

In [12]:
New_Df.dtypes

ID                  float64
YearStart           float64
LocationAbbr         object
LocationDesc         object
Question             object
Data_Value          float64
GeoLocation_Lat     float64
GeoLocation_Long    float64
dtype: object